body {
    background-color: rgb(213, 213, 10);
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container img {
    height: 500px;
    width: 500px;
    border: 10px solid green;
    border-radius: 20px;
}